In [2]:
%magic
%lsmagic
import numpy as np

In [4]:
%time np.sin(np.arange(1000000))

CPU times: user 26.5 ms, sys: 7.17 ms, total: 33.7 ms
Wall time: 82.9 ms

array([ 0.        ,  0.84147098,  0.90929743, ...,  0.21429647,
       -0.70613761, -0.97735203])

In [5]:
%prun np.sin(np.arange(1000000))

In [7]:
%timeit np.sin(np.arange(1000000))

10 loops, best of 3: 25 ms per loop

In [4]:
import tables

In [5]:
V0 = 17.6639
r = 0.01

In [7]:
import pandas as pd
h5 = pd.HDFStore('./source/vstoxx_data_31032014.h5', 'r')
futures_data = h5['futures_data'] # VSTOXX futures data
options_data = h5['options_data'] # VSTOXX cal option data
h5.close();

In [8]:
futures_data

          DATE  EXP_YEAR  EXP_MONTH  PRICE   MATURITY    TTM
496 2014-03-31      2014          4  17.85 2014-04-18  0.049
497 2014-03-31      2014          5  19.55 2014-05-16  0.126
498 2014-03-31      2014          6  19.95 2014-06-20  0.222
499 2014-03-31      2014          7  20.40 2014-07-18  0.299
500 2014-03-31      2014          8  20.70 2014-08-15  0.375
501 2014-03-31      2014          9  20.95 2014-09-19  0.471
502 2014-03-31      2014         10  21.05 2014-10-17  0.548
503 2014-03-31      2014         11  21.25 2014-11-21  0.644

In [9]:
options_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 46170 to 46564
Data columns (total 8 columns):
DATE         395 non-null datetime64[ns]
EXP_YEAR     395 non-null int64
EXP_MONTH    395 non-null int64
TYPE         395 non-null object
STRIKE       395 non-null float64
PRICE        395 non-null float64
MATURITY     395 non-null datetime64[ns]
TTM          395 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(1)
memory usage: 27.8+ KB

In [13]:
options_data[['DATE', 'MATURITY', 'TTM', 'STRIKE', 'PRICE']].head()

            DATE   MATURITY    TTM  STRIKE  PRICE
46170 2014-03-31 2014-04-18  0.049     1.0  16.85
46171 2014-03-31 2014-04-18  0.049     2.0  15.85
46172 2014-03-31 2014-04-18  0.049     3.0  14.85
46173 2014-03-31 2014-04-18  0.049     4.0  13.85
46174 2014-03-31 2014-04-18  0.049     5.0  12.85

In [14]:
options_data['IMP_VOL'] = 0.0

In [15]:
from bsm_functions import *

In [20]:
tol = 0.5 #tolerance level for moneyness
for option in options_data.index:
    #iterating over all option quotes
    forward = futures_data[futures_data['MATURITY'] == \
                          options_data.loc[option]['MATURITY']]['PRICE'].values[0]
    
    #picking the right futures value
    if(forward * (1 - tol) < options_data.loc[option]['STRIKE'] < forward * ( 1 + tol)):
        # only for options with moneyness within tolerance
        imp_vol = bsm_call_imp_vol(
            V0, #VSTOXX value
            options_data.loc[option]['STRIKE'],
            options_data.loc[option]['TTM'],
            r, #short rate
            options_data.loc[option]['PRICE'],
            sigma_est = 2., #estimate for implied volatility
            it=100
        )
        options_data['IMP_VOL'].loc[option] = imp_vol

KeyError: 'TIM'